

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

.productTitle{
	line-height: 1.3em;
	font-size: 2.3em;
	padding-left: 10px;
	padding-top: 10px;
}

.divAboutUs{
	float: left;
	padding: 15px 0 0 20px;
	width: 40%;
	word-wrap: break-word;
}

.imgShop{
	width: 55%;
	float: right;
}

#main-header {
	background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
	color: white;
	height: 80px;
}	
#main-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}


#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
	


nav {
	float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
	padding-right: 20px;
}
	
nav ul li {
    display: inline-block;
	line-height: 80px;
	
}
    
nav ul li a {
    display: block;
    padding: 0 10px;
	text-decoration: none;
	
}
    
nav ul li a:hover {
    background: #0b76a6;
}
.shopCar{
	transform: translateY(20%);
}


.column {
	float: left;
  	padding: 10px;
	height: 300px;
	width: 50%;
}

.absoluteDiv{
	position: absolute;
}

.relativeDiv{
	position: relative;
}

.floatDiv{
	
	float:left; 
  
}


.product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {color: #005dbb;font-weight: 600;}
.product-image {height:100px;background-color:#FFF;}




html, body
{
	font-family: verdana;
	color: black;
    font-size: 16px;
    font-size: 100%;
    font-size: 1em;

    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color:#F5F5F5;
    overflow:auto;
    position:absolute;
      
}

*
{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:darkblue;
}

hr{
    border: none;
    height: 2px;
    /* Set the hr color */
    
    background-color:whitesmoke;
}



h1{
    color: deepskyblue;
}
.news
{

    width: 800px;
    margin: 0.5em auto;
    padding: 30px;

    background-color: #ffffff;
}

.news h2
{
    font-size: 1.5em;
    padding: 0;
    margin-bottom: 0;

    color: #e45;
}

.news p
{
    font-size: 14px;
    padding: 0;
    margin-bottom: 0.3em;

    color: #555;
}

.news span
{
    font-size: 10px;
    color: #aaa;
}


    
.submit{
    padding:5px 15px; 
    font-size: 14px;
    border:none;
    width:auto;
    height:auto;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: teal;
    color: white;
}

.update{
    padding:5px 15px; 
    font-size: 14px;
    border:none;
    width:auto;
    height:auto;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: blue;
    color: white;
}

.delete{
    padding:5px 15px; 
    font-size: 14px;
    border:none;
    width:auto;
    height:auto;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: red;
    color: white;
}

.add{
    padding:5px 15px; 
    font-size: 14px;
    border:none;
    width:auto;
    height:auto;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    background-color: green;
    color: white;
}

h5{
    color: darkblue; 
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}



  input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .email{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
  }
  

  input[type=password] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
  }


  .login{
    background-color: #4CAF50;
    color: white;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .register{
    background-color:#00008B;
    color: white;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
    
  }

  .logout{
    background-color: #8B0000;
    color: white;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
  }

 .container{
     text-align: center;
 }

 .subject{
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
 }
 .removeduck {
    background-color: #8B0000;
    color: white;
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;
 }

 .orderproduct{
    background-color:goldenrod;
    color: white;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;    
 }

 td,th{
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
    
 }
 th{
    background-color: lightblue;
 }

 nav {
	text-shadow: 3px 5px 10px #000;
	}

h6{
	text-shadow: 3px 5px 10px whitesmoke;
}

.readorder{
	background-color: #FF8C00;
    color: white;
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px;

}

.footer { 
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: #202020;
    font-size: 13px; 
}
 