body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

.productTitle{
	line-height: 1.3em;
	font-size: 2.3em;
	padding-left: 10px;
	padding-top: 10px;
}

.divAboutUs{
	float: left;
	padding: 15px 0 0 20px;
	width: 40%;
	word-wrap: break-word;
}

.imgShop{
	width: 55%;
	float: right;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
#main-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}


#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
	


nav {
	float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
	padding-right: 20px;
}
	
nav ul li {
    display: inline-block;
	line-height: 80px;
	
}
    
nav ul li a {
    display: block;
    padding: 0 10px;
	text-decoration: none;
	
}
    
nav ul li a:hover {
    background: #0b76a6;
}
.shopCar{
	transform: translateY(20%);
}

.column {
	float: left;
  	padding: 10px;
	height: 300px;
	width: 50%;
}

.absoluteDiv{
	position: absolute;
}

.relativeDiv{
	position: relative;
}

.floatDiv{
	
	float:left; 
	 
}


.product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {color: #005dbb;font-weight: 600;}
.product-image {height:100px;background-color:#FFF;}

